/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.menu ul li a{
		padding: 0 0 !important;
		text-align: right;
	}
	/*features starts*/
	.features{
		padding-top: 50px;
		padding-bottom: 70px;
	}
	.c_h1{
		font-size: 28px;
		margin-top: 10px;
	}
	.c_p{
		font-size: 18px;
		word-spacing: 0;

	}
	.m_t_60{
		margin-top: 30px;
	}
	.s_icon{
		font-size: 40px;
	}
	.s_text{
		text-align: center;
	}
	.s_text h2{
		font-size: 20px;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	/*contact start*/
	.contact{
		padding-top: 50px;
		padding-bottom: 70px;
	}
	.f-submit{
		margin-top: 20px;
	}
}

/*contact end*/	
	/*slider start*/
	.slider{
	/*background-color: #fcdb00;*/
	padding-bottom: 60px;
}
	.slider_contant {
    
        margin-top: 0px;
}

	.cid{
		bottom: -45px;
	}
	.cid li{
		width: 13px;
		height: 13px;
	}

	/*slider end*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.menu ul li a{
		padding: 0 0 !important;
		text-align: right;
	}
	/*slider start*/
	.slider{
	/*background-color: #fcdb00;*/
	padding-bottom: 60px;
}
	.slider_contant {
    
        margin-top: 20px;
}
	.s_contect h1{
		font-size: 25px;
		margin-bottom: 10px;

	}
	.s_contect h2{
		margin-bottom: 10px;
	}
	.apple li{
		font-size: 35px;
		margin-right: 25px !important;
	}
	.cid{
		bottom: -45px;
	}
	.cid li{
		width: 13px;
		height: 13px;
	}
/*slider end*/

/*features starts*/
	.features{
		padding-top: 60px;
		padding-bottom: 80px;
	}
	.m_t_60{
		margin-top: 40px;
	}
	.s_text{
		text-align: center;
	}
	/*contact start*/
.contact{
		padding-top: 60px;
		padding-bottom: 80px;
	}


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header start*/
	.menu ul li a{
		padding: 0 0 !important;
		text-align: right;
	}
	/*slider start*/
	.S_content{
		margin-top: 30px;
	}
	/*slider end*/

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}