/*font-family: 'PT Sans', sans-serif;*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'PT Sans', sans-serif;
	color: #010101;
}

/*header start*/
header{
	background-color: #fcdb00;
	padding: 25px 0;
}

.menu ul li a{
	font-weight: 700;
	font-size: 22px;
	color: #fcdb00;
	padding: 0 40px !important;
	transition: .3s;

}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
.menu ul li a:hover{
	color: white !important;
}
/*header end*/
/*slider start*/
.slider{
	background-color: #fcdb00;
	padding-bottom: 100px;
}
.slider_contant{
	margin-top: 65px;
}
.slider_contant h1{
	font-weight: 700;
	font-size: 32px;

}
.slider_contant h2{
	font-weight: 400;
	font-size: 20px;
	color: #313841;
	letter-spacing: 1px;
	word-spacing: 2px;
	margin: 20px 0;
}
.slider_contant p{
	color: #555555;
	word-spacing: 1px;
	line-height: 20px;
	margin-bottom: 35px;
}
.slider_icon{
	font-size: 40px;
}
.slider_icon li{
	margin-right: 30px !important;
}
.slider_img{}
.cid{
	bottom: -90px;

}
.cid li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: white;
	/*background-color: red;*/

}
.cid .active{
	/*opacity: 1;*/
	/**background-color: green;*/
}
.a_p:hover{
	color: white !important;
}
/*slider end*/

/*features start*/
.features{
	padding-top: 80px;
	padding-bottom: 100px;
}
.s_icon :hover{
	color: yellow !important;
}
.c_title{}
.c_h1{
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 20px;
}
.c_p{
	font-size: 20px;
	color: #313841;
	line-height: 25px;
	word-spacing: 2px;
}
.m_t_60{
	margin-top: 60px;
}

.s_icon{
	font-size: 50px;
}
.s_text{}
.s_text h2{
	font-size: 22px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 13px;
}
.s_text p{
	color: #898989;
	letter-spacing: 1px;
}
/*features end*/
/*contact start*/
.contact{
	padding-top: 80px;
	padding-bottom: 100px;
	background-color:#010101;

}
.yellow{
	color: #fcdb00;
}
.ash{
	color: #898989;
}
.f-form{
	margin-top: 30px;
	margin-bottom: 60px;
}
.f_email{
	width: 100%;
	height: 50px;
	font-family: 'PT Sans', sans-serif;
	color: #898989 !important ;
	border: none;
}
.f_email:focus{
	outline: 0;
	box-shadow: none;
	}
.f-submit{
	width: 100%;
	height: 50px;
	background-color: #fcdb00;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #010101!important;
	text-transform: uppercase;
}
.f-submit:focus{
	outline: 0;
	box-shadow: none;
	}
.f-submit:hover{
	color: #010101 !important;
	background-color: white;
}
/*contact end*/
/*social media start*/
.container{
	/*background-color: #010101;*/
}
.media{
	background:#000;
}
.media li{
	margin-top: 5px;
	padding: 3px 7px;
	
}
.c-media li{
	font-size: 16px;
    width: 28px;
    height: 29px;
    line-height: 27px !important;
    background: #fcdb00;
    margin: 6px
}
.media li:hover{
	
	background: white;
}
/*social media end*/
/*footer start*/
footer{
	padding-top: 80px;
	padding-bottom: 100px;
	background-color: #010101;
	}
	
.f_1{
	color: white !important;

	}
.f_1 p{
	margin: 0;
}
.f_1 p a{
	color: white !important;
}
/*footer start*/